.section-parallax {
  div {
    img {
      width: 100%;
    }
  }
}

.parallax-into-paysage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.parallax-into-paysage {
  width: 100%;
  overflow: visible;
}

.parallax-into-paysage.screen-a {
  height: 66.6666vw;
}
.parallax-into-paysage.screen-b {
  height: 16vw;
}

.parallax-into-paysage.screen-c {
  height: 55vw;
}

.parallax-into-paysage.screen-d {
  height: 10vw;
}

.parallax-into-paysage.screen-e {
  height: 55vw;
}
.parallax-into-paysage.screen-f {
  height: 25vw;
}

.parallax-into-paysage.screen-g {
  height: 54vw;
  position: relative;
}

.section-parallax,
.falling-sabre-section {
  overflow: hidden;
}

.parallax-into-paysage.screen-h {
  position: relative;
  z-index: 2;
}

.parallax-thunder-right,
.parallax-thunder-left {
  width: 56%;
  position: absolute;
}

.parallax-thunder-right {
  top: 24%;
  right: -9%;
}
.parallax-thunder-left {
  top: 2%;
  left: -6%;
}
