.slider-mask {
  //   border: 5px solid red;
  height: 100vh;
  overflow: hidden;
}

.slider-track {
  height: 100%;
  display: inline-flex;
  //   border: 5px solid blue;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  // border: 5px solid orange;
}

.screen-3 {
  flex-direction: column;
  justify-content: space-evenly;
}

.sabre-milk-1 {
  align-items: flex-start;
  // border: 2px solid coral;
}

.sabre-milk-2 {
  align-items: flex-end;
  // border: 2px solid coral;
}

.slider-family {
  display: flex;
}

.screen-1 img {
  width: 80%;
}
.screen-2 img {
  width: 60%;
}
.screen-3 img {
  width: 60%;
}
.screen-4 img {
  width: 60%;
}
.screen-5 img {
  width: 50%;
}
.screen-6 img {
  width: 70%;
}
.screen-7 img {
  width: 60%;
}

//animation hover

.screen-1:hover .slider-no-hover {
  display: none;
}

.screen-1:hover .slider-hover {
  display: block;
}

.slider-hover {
  display: none;
}
